yolobit/config/setting.py

camera/

webapp/backend/config
node_modules/
**/node_modules/
package-lock.json

webapp/frontend/eslint.config.js
webapp/frontend/package-lock.json
webapp/frontend/package.json
webapp/frontend/postcss.config.js
webapp/frontend/README.md
webapp/frontend/tailwind.config.js
webapp/frontend/vite.config.js

WHL/

venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.local

.vscode/
.idea/
*.suo
*.user

.DS_Store
Thumbs.db
desktop.ini

