yolobit/config/setting.py

camera/
**Anh
webapp/backend/config
node_modules/
**/node_modules/
package-lock.json
webapp/backend/upload.js

WHL/

venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.local

.vscode/
.idea/
*.suo
*.user

.DS_Store
Thumbs.db
desktop.ini

