yolobit/config/setting.py

camera/

webapp/backend/config
webapp/backend/package-lock.json
webapp/backend/Package.json
webapp/node_modules

WHL/

venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.local

.vscode/
.idea/
*.suo
*.user

.DS_Store
Thumbs.db
desktop.ini

